;; -*- mode: clojure; -*-
;; vim: filetype=clojure

;; plugins includes
(include "/var/vcap/jobs/riemann/include")

(let [index (index)]
  (streams
   (default :ttl 60
     index
     
     ;; Log everything as Info
     #(info %)
     
     ;; Send Riemann server events to graphite
     (where (service #"^riemann.*")
            graph)

     ;; If space is low, prefix with this string (testing)
     (where 
      (and (service "disk /var/vcap/store") (> metric 0.80))
      #(warn "Disk space on /var/vcap/store is over 80%!" %)))))
